@model ProductListViewModel

<h5>Index Page</h5>

@if(Model.Products.Count() == 0)
{
    <p>Ürün bulunamadı.</p>
}

@foreach(var p in Model.Products)
{
    <div>
        <h4>@p.Name</h4>
        <p>@p.Description</p>
        <p>@p.Price</p>
    </div>
}

@for(var i = 1; i <= Model.PageInfo.TotalPages; i++)
{
    <a href="/?page=@i">@i</a>
}