@model IEnumerable<CategoryViewModel>

<div class="d-grid gap-2">
    <a class="btn @(ViewBag.SelectedCategory == null ? "btn-dark": "btn-outline-dark")" 
        href="/products">Anasayfa</a>

    @foreach(var category in Model)
    {
        <a 
        class="btn @(ViewBag.SelectedCategory == category.Url ? "btn-dark": "btn-outline-dark")" 
        asp-controller="Home" asp-action="Index" asp-route-category="@category.Url">
            @category.Name
        </a>
    }
</div>