@page 
<div class="text-center">
    <h2>Teşekkür Ederiz.</h2>
    <p>#@OrderId numaralı siparişiniz oluşturuldu.</p>
    <p>Siparişiniz en kısa sürede adresinize gönderilecektir.</p>
    <a href="/" class="btn btn-primary">Anasayfa</a>
</div>

@functions {
    [BindProperty(SupportsGet = true)]
    public string? OrderId { get; set; }
}