@model Cart


@if(Model?.Items.Count() > 0)
{
    <a href="/Cart" class="btn btn-sm btn-warning">Sepete Git</a>

    <small class="text-white">
        @Model?.Items.Sum(i => i.Quantity) adet ürün.
        [@Model?.CalculateTotal()]
    </small>
}