<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <div class="bg-secondary text-white p-3">
        <div class="container">
            <span class="navbar-brand">Store App</span>
        </div>
    </div> 
    <div class="container my-3">
        @RenderBody()
    </div>

    <script src="/lib/bootstrap/jquery/jquery.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>