@page "{id}"
@model DetailsModel

<h1>Details Page</h1>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img src="~/img/@Model.Employee.Photo" alt="" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">@Model.Employee.Name</h5>
                <p class="card-text">@Model.Employee.Deparment</p>
                <p class="card-text">@Model.Employee.Email</p>
                <a asp-page="/Employees/Index"  class="btn btn-primary">Geri Dön</a>
            </div>
        </div>
    </div>
</div>