@page 
@using Microsoft.AspNetCore.Mvc.RazorPages
@using razorpagesExample.Repository
@using razorpagesExample.Models
@model IndexModel
@{
    ViewData["Title"] = "Employees";
}

<h1>Employees</h1>

<div class="row">
    @foreach(var emp in Model.EmployeeList)
    {
        <div class="col-md-3 mb-2">
            <div class="card">
                <img src="~/img/@emp.Photo" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">@emp.Name</h5>
                    <p class="card-text">@emp.Deparment</p>
                    <a asp-page="/employees/details" asp-route-id="@emp.Id" class="btn btn-primary">Details</a>
                    <a asp-page="/employees/edit" asp-route-id="@emp.Id" class="btn btn-primary">Edit</a>
                </div>
            </div>
        </div>
    }
</div>

@functions {
    public class IndexModel : PageModel
    {
        public IEnumerable<Employee> EmployeeList = new List<Employee>();
        private readonly IEmployeeRepository _employeeRepository;
        public IndexModel(IEmployeeRepository employeeRepository)
        {
            _employeeRepository = employeeRepository;
        }
        public void OnGet()
        {
            EmployeeList = _employeeRepository.GetAll();
        }

    }
}